<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <div id="index-main-container">
      <div id="login-form">
        <% if (user) {%>
        <h1>WELCOME <%= user.username %></h1>

        <% if (user.membership_id < 2) { %>
        <p>Thank you for signing up!</p>
        <p>
          You're now an initiate member. You're still not allowed to write
          messages, or see who wrote what.
        </p>
        <p>To increase your membership level, you have to prove your worth.</p>
        <a href="/riddle">Click here to prove you're a worthy member</a>
        <% } %>

        <a href="/log-out">LOG OUT</a>

        <% } else { %>
        <h1>Please log in</h1>

        <form action="/log-in" method="POST">
          <label for="username">Username</label>
          <input
            id="username"
            name="username"
            placeholder="username"
            type="text"
          />
          <label for="password">Password</label>
          <input id="password" name="password" type="password" />
          <button>Log In</button>
        </form>

        <p>Don't have an account?</p>
        <a href="/sign-up">Create one</a>
        <% } %>
      </div>

      <div id="messages">
        <% messages.forEach(function(message) { %>
        <div class="message-box">
          <p><%= message.content %></p>
          <% if (user && user.membership_id >= 2) { %>
          <p>posted by <%= message.username %> on <%= message.created_at %></p>
          <% } else { %>
          <p>posted by: ??</p>
          <% } %> <% }); %>
        </div>
      </div>
    </div>
  </body>
</html>
