body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(230, 230, 230);
  min-height: 90vh;
}

input {
  padding: 10px;
  border-radius: 6px;
  border: none;
  width: 210px;
  outline: none;
}

input:focus {
  outline: 2px solid #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
  background-color: transparent;
  border: solid 2px white;
  border-radius: 6px;
  color: white;
  padding: 15px;
  margin: 10px;
  width: 120px;
  cursor: pointer;
}

#index-main-container {
  display: flex;
  flex-direction: row-reverse;
  background-color: white;
  min-height: 93vh;
  margin: 20px;
  margin-left: 30px;
  border-radius: 10px;
  overflow: hidden;
}

#right-container {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 59%,
    #ff7072 100%
  );
}

#right-container h1,
#right-container h2,
#right-container p,
#right-container label {
  color: rgb(218, 218, 218);
  margin: 1%;
}

#right-container a {
  color: white;
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 2%;
}

#right-container h2,
#right-container h1 {
  margin-bottom: 20px;
}

#left-container {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  flex-direction: row-reverse;
}

.delete-button {
  margin: 0;
  padding: 1px;
  width: 40px;
}

.message-box {
  background-color: rgb(238, 238, 238);
  min-width: 90%;
  margin: 10px;
  padding: 5px;
  padding-left: 10px;
  border-radius: 10px;
}

#message-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 2%;
}
